<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JetBrains Account</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-full.css}" href="../public/css/bootstrap-full.css">
</head>

<body>
<div class="footer-wrap">
    <div class="header">

    </div>
    <div class="container">
        <div class="row" >
            <div class="col-sm-8" style="margin-left: -16px;">
                <h1  th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="float-right" style="float: right">
                    <form action="/logout" th:method="post">

                    <button type="submit" class="btn btn-danger float-right">Log out</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">

            <div>
                <h1 style="display: inline-block;" th:text="${numOfLicences} + ' Licences'">X License</h1>
                <span class="unit-container-sm"></span>
                <span style="display: inline-block;"></span>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well-header">
                            <div class="title">JetBrains Product Pack for Students&nbsp;<small></small></div>
                            <div class="license-id">
                                License ID:
                                <div class="id">V03HQK1X52</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well-row">
                            <div class="well-label">Licensed to:</div>
                            <div class="well-value"><strong class="registration-name">Minh Pham</strong></div>
                        </div>
                        <div class="well-row">
                            <div class="well-label">License restriction:</div>
                            <div class="well-value">For educational use only</div>
                        </div>
                        <div class="well-row">
                            <div class="well-label">Valid through:</div>
                            <div class="well-value">September&nbsp;27,&nbsp;2021</div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        Following products included:
                        <div class="product-list">
                            <div class="row">
                                <div class="cell"><a href="https://www.jetbrains.com/objc" class="nobr" target="_blank">AppCode</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/clion" class="nobr"
                                                     target="_blank">CLion</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/dbe" class="nobr" target="_blank">DataGrip</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/dotcover" class="nobr"
                                                     target="_blank">dotCover</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/dotmemory" class="nobr"
                                                     target="_blank">dotMemory</a></div>
                            </div>
                            <div class="row">
                                <div class="cell"><a href="https://www.jetbrains.com/profiler" class="nobr"
                                                     target="_blank">dotTrace</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/go" class="nobr" target="_blank">GoLand</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/idea" class="nobr"
                                                     target="_blank">IntelliJ&nbsp;IDEA&nbsp;Ultimate</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/phpstorm" class="nobr"
                                                     target="_blank">PhpStorm</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/pycharm" class="nobr"
                                                     target="_blank">PyCharm</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell"><a href="https://www.jetbrains.com/resharper" class="nobr"
                                                     target="_blank">ReSharper</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/resharper-cpp" class="nobr"
                                                     target="_blank">ReSharper&nbsp;C++</a></div>
                                <div class="cell"><a href="https://www.jetbrains.com/rider" class="nobr"
                                                     target="_blank">Rider</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/ruby" class="nobr" target="_blank">RubyMine</a>
                                </div>
                                <div class="cell"><a href="https://www.jetbrains.com/webstorm" class="nobr"
                                                     target="_blank">WebStorm</a></div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>

            <th:block th:each="licence : ${licences}">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="well-header">
                                <div class="title" th:text="${licence.title} + ' licence'">Licence title <small></small>
                                </div>
                                <div class="license-id">
                                    License ID:
                                    <div class="id" th:text="${licence.licenceID}">Licence ID ...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="well-row">
                                <div class="well-label">Licensed to:</div>
                                <div class="well-value"><strong class="registration-name">Minh Pham</strong></div>
                            </div>
                            <div class="well-row">
                                <div class="well-label">License restriction:</div>
                                <div class="well-value">For educational use only</div>
                            </div>
                            <div class="well-row">
                                <div class="well-label">Valid through:</div>
                                <div class="well-value" th:text="${licence.validThough}">September&nbsp;27,&nbsp;2021
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Following products included:
                            <div class="product-list">
                                <div class="row">
                                    <th:block th:each="product : ${licence.productName}">
                                        <div th:text="${product.name}" class="cell"></div>
                                    </th:block>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
    <div class="footer-push"></div>
</div>

</body>

</html>